@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lexend:wght@100..900&family=Nothing+You+Could+Do&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Smooch+Sans:wght@100..900&family=Tangerine:wght@400;700&display=swap');

:root {
    --cor_fundo_cabec: #A6323B;
    --cor_fundo_rodap: #02213b;
    --cor_fundo: rgba(232, 227, 210, 0.614);
    --cor_01: #FCCD28;
    --cor_02: #A79453;
    --cor_03: #D2C07A;
    --cor_04: #000000;
    --cor_05: #FFFFFF;
    --cor_06: #cd3d49fc;
    --cor_07: #ffffffc1;
    --cor_08: #043d6e;
    --cor-09: rgba(175, 172, 161, 0.644);
    --cor_10: #dbd8d8;
    --cor_11: #d6d3d383;
    --cor_12: #232323ac;

    --fonte_padrao: Verdana, Arial, Helvetica, sans-serif;
    --fonte_destaque: 'Tangerine', serif;
    --fonte_01: "Lexend", serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor_10)
}

/* Personalizando o Cabeçalho (Header) */
.header{
    background-image: linear-gradient(to bottom, var(--cor_fundo_cabec), var(--cor_06));
    color: #fff;
    height: 4em;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    top: 0;
    position: fixed;
    gap: 5px;
}

.header img{
    height: 4em;
}

#nav-list{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 15px;
}

#nav-list li{
    list-style: none;
    font-family: "Smooch Sans", serif;
    font-size: 2em;
}

#nav-list a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

#nav-list a:hover{
    color: var(--cor_03);
    padding: 0 5px;
}

.header i{
    display: none;
    color: #fff;
    font-size: 2em;
    padding: 0.1em;
}

.header i:hover{
    color: var(--cor_03);
    cursor: pointer;
}