@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lexend:wght@100..900&family=Nothing+You+Could+Do&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Smooch+Sans:wght@100..900&family=Tangerine:wght@400;700&display=swap');


/* Device Breakpoints 
Móvel : até 576 pixels
Tablet : 577–1024 pixels
Área de trabalho : 1025–1440 pixels
Área de trabalho grande : 1441 pixels e acima */


:root {
    --cor_fundo_cabec: #A6323B;
    --cor_fundo_rodap: #02213b;
    --cor_fundo: rgba(232, 227, 210, 0.614);
    --cor_01: #FCCD28;
    --cor_02: #A79453;
    --cor_03: #D2C07A;
    --cor_04: #000000;
    --cor_05: #FFFFFF;
    --cor_06: #cd3d49fc;
    --cor_07: #ffffffc1;
    --cor_08: #043d6e;
    --cor-09: rgba(175, 172, 161, 0.644);
    --cor_10: #dbd8d8;
    --cor_11: #d6d3d383;
    --cor_12: #232323ac;
    
    --fonte_padrao: Verdana, Arial, Helvetica, sans-serif;
    --fonte_destaque: 'Tangerine', serif;
    --fonte_01: "Lexend", serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte_01);
    box-sizing: border-box;
    scroll-behavior: smooth;

    text-decoration: none;
    list-style: none;
}

body, html{
    width: 100%;
    height: 100vh;
}


main{
    background-color: #f5f1f1b2;
    width: 100vw;
    margin: auto;
    font-size: 1.5em;
}

img{
    margin: auto;
}

.header nav{
    background-image: linear-gradient(var(--cor_fundo_cabec), var(--cor_06));
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    top: 0;
    gap: 10px;
    position: fixed;
    z-index: 3;
}

.header .navbar-brand img {
    height: 50px; 
    width: auto; 
    max-width: 100%;
}

.offcanvas-header{background-color: var(--cor_06);}
.offcanvas-body{
    background-image: linear-gradient(to bottom, var(--cor_06), var(--cor_fundo_cabec));
}

.custom-toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #ffffff; 
    display: block;
    margin: 5px 0;
}

.nav-item a{
    color: #fff;
}

.header i{
    display: block;
    color: #fff;
    font-size: 2em;
    padding: 0.1em;
}

.header i:hover{
    color: var(--cor_03);
    cursor: pointer;
}

#logo i{
    font-size: 2em;
}

#nav-list{
    display: none;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 1px;
}

#nav-list li{
    list-style: none;
    font-family: "Smooch Sans", serif;
    font-size: 1.5em;
}

#nav-list a{
    color: #fff;
    padding: 1px 3px;
    font-weight: 400;
}

#nav-list a:hover{
    border: 1px solid #fff;
    background-color: #ffffff81;
    color: #ad323c;
    border-radius: 5px;
    font-weight: 500;
}

.header img{width: 3em;}

@media screen and (max-width: 700px) {
    .bi-list {
        display: block; /* Mostra o ícone em telas pequenas */
    }

    #menu {
        display: none; /* Oculta o menu em telas pequenas */
        position: absolute;
        top: 40px; /* Ajuste conforme a altura do header */
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    #nav-list {
        flex-direction: column;
    }

    #nav-list li {
        margin: 1em 0;
    }
}

/* ------------------------------------------------- CSS - Home ----------------------------------------------------------- */
/* Configurando a imagem principal da Home */
.home-img-bg{
    background-image: 
    linear-gradient(to bottom, #000, transparent),
    url(../imagens/psjb-igreja.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.home-img-text{
    color: #fff;
    text-align: center;
    padding: 10px;
}

.home-img-text img{
    width: 8em;
}

.titulo-pagina{
    position: relative;
    display: inline-block;
    font-size: 1.8em;
    padding-top: 2em;
    padding-bottom: 10px;
}

.titulo-pagina::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 8px;
    background-color: #d14b56;
    animation: textUnderline 1.5s linear;
}

@keyframes textUnderline{
    0% {
        left: 0;
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

.homeimg-img{
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    animation: animaInput 2.5s;
}

.homeimg-img img{
    width: 5em;
}

/* Configurando os contatos */
/* Responsividade Mobile Retrato */
@media screen and (max-width: 700px) {
    /* Configurando o Home */
    .homeimg-img{
        font-size: 1em;
    }

    .contatos-container{
        color: #fff;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .contatos{margin-top: 8px;}

    .contatos li {
        text-align: left;
        width: 95%;
        font-size: 0.7em;
        margin: 10px auto;
    }

    /* Configurano o main */
    .homemain-container{
        display: flex;
        flex-direction: column;
        background-image: 
        linear-gradient(to right, var(--cor_fundo_rodap), var(--cor_08)),
        url(../imagens/logo-psjb.png);
        background-position: cover;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 1em;
        height: 80vh;
        overflow-y: scroll;
        margin: 5px 10px;
        font-size: 1em;
    }

    .homemain-container img{width: 10em;}

    #homemain-text02{margin-top: 2em;}
}

.contatos li{
    background-color: #ffffff90;
    color: #504e4e;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

.contatos li:hover{
    color: #fff;
}

.contatos li:hover{
    opacity: 1;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}

/* Configurando o Banner do Padroeiro */
.padroeiro-container{
    padding: 1em;
    margin: 2em 0;
    font-size: 1em;
    background-image: url(../imagens/img-saojoao-sf.png),
    linear-gradient(to right, var(--cor_06), var(--cor_fundo_cabec));
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    background-blend-mode: overlay;
}

.padroeiro-container a{
    color: var(--cor_03);
}

#assinatura-saojoao{
    color: var(--cor_03);
    font-family: "Nothing You Could Do", serif;
    font-weight: 700;
    text-align: right;
    padding: 0.5em 0;
}

/* Organizando os contatos */
.contatos-container{
    background-color: #02213b;
    color: #fff;
    margin: 40px 0;
    display: inline-block;
    padding: 30px;
    box-shadow: 10px 0px 10px #000000a0;
}

.contatos-container div{
    margin: 15px 0;
}

.contatos-container h2{
    margin-bottom: 20px;
}

.contatos-container a{
    background-image: linear-gradient(var(--cor_06), var(--cor_fundo_cabec));
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    color: white;
    border-radius: 10px;
}

/* Configurando o Rodapé (Footer) */
.footer{
    background-image: linear-gradient(to bottom, var(--cor_fundo_rodap), var(--cor_08));
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 30px 0;
}

.footer-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em 0.5em;
}

.footer-img img{
    width: 5em;
}

.social-media-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text iframe{
    width: 10em;
    height: 10em;
    border-radius: 10px;
    margin: 0.5em 0;
}

.footer-links{
    display: block;
    text-align: center;
}

.footer-links a{
    padding: 1em 5px;
    color: #fff;
}

.footer-links p{
    font-size: 15px;
    margin: 1em 0;
}

/* Negrito */
span{
    font-weight: 800;
}

/* ----------------------------------------------- CSS - Paróquia ----------------------------------------------------------- */

.historia-saojoao{
    padding: 5px 15px;
}

.horario-missas-container,
.secretaria-paroquia{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #0000004a;
    border: 1px solid #000;
    font-size: 20px;
    margin: 1em 0.5em;
}

.horario-missas-container h2,
.secretaria-paroquia h2{
    background-color: var(--cor_06);
    width: 100%;
    color: #fff;
    text-align: center;
}

.menu, .secretaria-paroquia ul,
.secretaria-paroquia h3{
    padding: 10px 5px;
}

.artigo-saojoao p,
.artigo-saojoao h3{
    margin: 20px 0px;
}

.artigo-saojoao img{
    width: 100%;
    margin: 0 5px;
    margin: 0 auto;
}

/* ------------------------------------------------- CSS - Comunidade ------------------------------------------------------- */

.historia-paroquia-box p,
.historia-paroquia-box h3,
.historia-paroquia-box h2{
    margin: 15px 0;
}

.comunidade-container{
    margin: 10px 20px;
}

/* Estilo do Carrosel */
.logo-slider-container {
    display: grid;
    place-items: center;
}

.logo-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000000f2;
    box-shadow: 0 10px 10px #0000004b;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border-top: 1px solid #e4e0e0;
    border-bottom: 1px solid #e4e0e0;
    margin: 20px 0;
} 

.logo-slider-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    animation: carrossel 20s linear infinite;
}

.logo-slider-items::after {
    content: "";
    display: flex;
    gap: 25px;
}

@keyframes carrossel{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.logo-slider-items img{
    width: 4%;
    margin: 20px;
}

/* Estilo das Pastorais */
.pastorais-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 15px;
    font-size: 22px;
}

.pastorais-box li{
    margin: 20px 0;
}

.pastorais-box h2{
    text-align: center;
}

/* Testando... */
.me-2{
    height: 2.8em;
    width: 3em;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.accordion{
    width: 100%;
    text-align: left;
}

.accordion-item h2{
    text-align: left;
}

#carouselExampleCaptions{
    margin: 1em 0;
}

.carousel-item img{
    height: 20em;
}

